{{> page_header }}

<main role="main" class="content">
  <div class="flamingo">🦩</div>
  <h1>Midsummer Night's Tea Party 2:<br>This time it's August</h1>
  <p>
    We're doing a second last-minute Midsummer this year! Come have a delightful
    time in the woods with us!
  </p>

  <h2>When is it?</h2>
  <p>3pm Thursday the 18th August to 10am Monday the 22nd of August.</p>

  <h2>Where is it?</h2>
  <p>The same site as usual, 20 minutes drive from King's Lynn in Norfolk.</p>

  <h2>How many people will there be?</h2>
  <p>We're aiming for around 50 people.</p>

  <h2>Will meals be included?</h2>
  <p>
    Due to this being last minute and the budget being very tight we are unable
    to do food for this event.
  </p>
  <p>
    If we do get enough contributions to cover the £3,450 site fee and have
    enough left over we look into bringing the breakfast bar, BBQs, and the
    drinks bar, as these can be organised quickly.
  </p>

  <h2>What facilities are there on site?</h2>
  <p>
    There are flushing toilets, running water, hot showers, and a dreamy outdoor
    bath. There is not mains electricity or cooking facilities so bring your
    camping kit.
  </p>

  <h2>Where will people be sleeping?</h2>
  <p>
    Most people will be camping (so bring your tent), but there are a limited
    number of sleeping structures. These structures will be allocated with
    priority going to people with accessibility requirements.
  </p>

  <h2>Can I refund or sell my ticket?</h2>
  <p>
    Tickets can not be sold for safety reasons. We need to know who everyone is
    on site, any unexpected guests will be asked to leave.
    If we get enough contributions to cover our costs then we be able to offer
    refunds.
  </p>

  <h2>
    Can I come?
  </h2>
  <p>
    Yes! So long as you or <a href="/the-pal-system" target="_blank">your
      PAL</a> have attended previously.
  </p>
  <ol>
    <li>You submit your details using the form below.
    <li>We give you a reference number and bank details on the next page.
    <li>You make a bank transfer to us with these details.
    <li>We send you an email confirmation and get everything ready.
    <li>We all have a delightful time in the woods ✨
  </ol>
  <p>
    If you've any questions before or after payment <a href="mailto:{{help_email}}">
      email us</a> and we'll help you out.
  </p>

  <div class="heart-rule">
    Alright, here we go
  </div>

  <form class="attendee-form" method="post" onsubmit="this.disable = true">
    <div class="form-group">
      <label for="name">What's your name?</label>
      <input type="text" name="name" id="name" required>
    </div>

    <div class="form-group">
      <label for="email">What's your email?</label>
      <p>
        We will use this to send you an email with additional information closer
        to the date. Your email will be viewable by the organisers and will not
        be shared with anyone else.
      </p>
      <input type="email" name="email" id="email" required>
    </div>

    <div class="form-group">
      <label for="attended">Have you attended before?</label>
      <label for="attended-yes">
        <input type="radio" name="attended" id="attended-yes" value="yes" required>
        Yes
      </label>
      <label for="attended-no">
        <input type="radio" name="attended" id="attended-no" value="no" required>
        No
      </label>
    </div>

    <div class="form-group">
      <label for="pal">What is the name of your PAL?</label>
      <p>
        You and your PAL are responsible for each other. Ideally either you are
        your PAL will have attended Midsummer Night's Teaparty before, but this
        is not a hard requirement.
        <a href="/the-pal-system" target="_blank">
          Read here for more information on the PAL system here.
        </a>
      </p>
      <input type="text" name="pal" id="pal" required>
    </div>

    <div class="form-group">
      <label for="pal-attended">Has your PAL attended before?</label>
      <label for="pal-attended-yes">
        <input type="radio" name="pal-attended" id="pal-attended-yes" value="yes" required>
        Yes
      </label>
      <label for="pal-attended-no">
        <input type="radio" name="pal-attended" id="pal-attended-no" value="no" required>
        No
      </label>
    </div>

    <div class="form-group">
      <label for="dietary-requirements">Do you have any dietary requirements?</label>
      <p>
        Just in case we get enough money to run the BBQ this time.
      </p>
      <textarea rows=5 name="dietary-requirements" id="dietary-requirements"
        placeholder="Vegeterian, vegan, dairy free. Allergic to nuts, intolerant to dairy."></textarea>
    </div>

    <div class="form-group">
      <label for="accessibility-requirements">Do you have any accessibility requirements?</label>
      <p>
        Please be as detailed about what you need and we will aim to provide it
        for you as best we can.
      </p>
      <textarea rows=5 name="accessibility-requirements" id="accessibility-requirements"></textarea>
    </div>

    <div class="form-group center">
      <button type="submit">Submit!</button>
    </div>
  </form>
</main>

{{> page_footer }}
