{{> page_header }}

<main role="main" class="content">
  <h1>ANTI-CAPITALIST SOFTWARE LICENSE (v1.4)</h1>
  <p>Copyright © 2022 Louis Pilfold</p>

  <p>
    This is anti-capitalist software, released for free use by individuals and
    organizations that do not operate by capitalist principles.
  </p>

  <p>
    Permission is hereby granted, free of charge, to any person or organization (the
    "User") obtaining a copy of this software and associated documentation files
    (the "Software"), to use, copy, modify, merge, distribute, and/or sell copies of
    the Software, subject to the following conditions:
  </p>

  <ol>
    <li>
      The above copyright notice and this permission notice shall be included in
      all copies or modified versions of the Software.

    <li>
      The User is one of the following:
      <ol>
        <li>An individual person, laboring for themselves
        <li>A non-profit organization
        <li>An educational institution
        <li>An organization that seeks shared profit for all of its members, and
          allows non-members to set the cost of their labor
      </ol>

    <li>
      If the User is an organization with owners, then all owners are workers and
      all workers are owners with equal equity and/or equal vote.

    <li>
      If the User is an organization, then the User is not law enforcement or
      military, or working for or under either.
  </ol>

  <p>
    The software is provided "as is", without express or implied warranty of any
    kind, including but not limited to the warranties of merchantability, fitness
    for a particular purpose and noninfringement. In no event shall the authors be
    liable for any claim, damages or other liability, whether in an action of
    contract, tort or otherwise, arising from, out of or in connection with the
    software or the use or other dealings in the software.
  </p>
</main>

{{> page_footer }}
