<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <link rel='shortcut icon' href='/assets/favicon.png' type='image/x-icon'>
  <link rel='icon' href='/assets/favicon.png' type='image/x-icon'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet"> 
  <link rel='stylesheet' href='/assets/index.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Midsummer Night's Tea Party</title>
</head>
<body>
