<footer class="site-footer">
  <div>
    © Louis Pilfold 2022. Made with
    <a href="http://gleam.run/" target="_blank" rel="noopener noreferrer">Gleam</a>.
  </div>
  <div>
    Source code
    <a href="http://github.com/team-balloonicorn/puck" target="_blank" rel="noopener noreferrer">
      available</a> under the
    <a href="/licence" target="_blank">Anti-Capitalist Software Licence v1.4</a>.
  </div>
</footer>
</body>

</html>
