{{> page_header }}

<main role="main" class="content">
  <h1>The PAL system</h1>

  <p>
    When you come to Midsummer Night's Tea Party you must bring a PAL with you.
  </p>

  <p>
    You and your PAL are responsible for each other, both for your behaviour and
    well-being. This ensures everyone has someone to look after them if they
    become unwell, upset, or otherwise need assistance.
  </p>

  <p>
    You are responsible for your PALs behavior and they are responsible for yours!
    If either of you break any rules or are disrespectful or harmful you will
    both be held responsible.
  </p>

  <h2>PAL system F.A.Q.</h2>

  <dl>
    <dt>Do I need to have a particular kind of relationship with my PAL?</dt>
    <dd>
      Your PAL can be anyone that you vouch for and who you feel comfortable
      being responsible for. You need to know them prior to the event.
    </dd>
  </dl>

  <dl>
    <dt>Can I PAL more than one person?</dt>
    <dd>
      Yes, though ideally each person only has 1 or 2 PALs to ensure no one gets
      overloaded if their PALs need assistance.
    </dd>
  </dl>

  <dl>
    <dt>Can I come as a group of 3 or more PALs?</dt>
    <dd>
      Yes, groups can all PAL each other and be responsible for each other.
    </dd>
  </dl>

  <dl>
    <dt>Do I have to arrive with my PALs?</dt>
    <dd>
      No, though try to arrive on the same day as your PALs. If you are new to
      Midsummer ensure your PAL arrives no later than you do.
    </dd>
  </dl>

  <dl>
    <dt>
      I've been to Midsummer and similar events loads of times, do I still need
      a PAL?
    </dt>
    <dd>
      Yes, everyone needs a PAL. No exceptions.
    </dd>
  </dl>

  <dl>
    <dt>
      What happens if my PAL becomes unwell or upset?
    </dt>
    <dd>
      All Midsummer attendees will strive to look after each other but at the
      end of the day the person's PAL is responsible for them. If they need help
      it is your job to ensure they get it.
    </dd>
  </dl>

  <dl>
    <dt>
      Will I get kicked out if my PAL misbehaves?
    </dt>
    <dd>
      No, you will just get a warning, and given the opportunity to select your
      PAL more carefully in the future.
    </dd>
  </dl>

  <p>
    Thanks to Kinky Salon for the <a href="http://www.kinkysalon.com/companion/2015/06/23/the-pal-system/"
      target="_blank" rel="noopener noreferrer">PAL system</a> on which this page is
    based.
  </p>
</main>

{{> page_footer }}
