{{>page_header}}

<main role="main" class="content">
  <div class="flamingo">🦩</div>
  <h1>Thank you!</h1>


  {{^rollover}}
  <p>
    The next step is to send us your contribution via bank transfer with these
    details:
  </p>

  <table>
    <tr>
      <td>Name:</td>
      <td class="monospace">{{account_name}}</td>
    </tr>
    <tr>
      <td>Account no:</td>
      <td class="monospace">{{account_number}}</td>
    </tr>
    <tr>
      <td>Sort code:</td>
      <td class="monospace">{{sort_code}}</td>
    </tr>
    <tr>
      <td>Reference:</td>
      <td class="monospace">{{reference}}</td>
    </tr>
    <tr>
      <td>Amount:</td>
      <td class="monospace">£{{amount}}</td>
    </tr>
  </table>

  <p>
    After your payment have been received and and after your place has been
    confirmed we'll send you an email confirming your place.
  </p>
  {{/rollover}}

  {{#rollover}}
  <p>
    You've said you've got a rollover ticket, so there's nothing for you to do
    now. We'll email you later when your place has been confirmed.
  </p>
  {{/rollover}}

  <p>
    If you have any questions or problems please email us at
    <a href="mailto:{{help_email}}">{{help_email}}</a>.
  </p>
</main>

{{>page_footer}}
