{{>page_header}}

<main role="main" class="content">
  <div class="flamingo">🦩</div>
  <h1>Thank you!</h1>

  {{^rollover}}
  <p>
    The next step is to send us your contribution via bank transfer with these
    details:
  </p>
  <ul>
    <li>Name: <code>{{account_name}}</code>
    <li>Account number: <code>{{account_number}}</code>
    <li>Sort code: <code>{{sort_code}}</code>
    <li>Reference: <code>{{reference}}</code>
    <li>Amount: <code>£{{amount}}</code>
  </ul>

  <p>
    After your payment have been received and and after your place has been
    confirmed we'll send you an email confirming your place.
  </p>
  {{/rollover}}

  {{#rollover}}
  <p>
    You've said you've got a rollover ticket, so there's nothing for you to do
    now. We'll email you later when your place has been confirmed.
  </p>
  {{/rollover}}

  </p>
</main>

{{>page_footer}}
