{{> page_header }}

In order to keep your space safe and free of lurkers and unwanted elements, you need to have an entrance policy, and at Kinky Salon we use the PAL system. Simply, this means that every guest is responsible for the person they arrive with, and nobody can come to the event alone. With the PAL system in place, everyone is keeping an eye on each other, so that you don’t have to! http://www.kinkysalon.com/pal/

 

When you come to Kinky Salon you must bring a PAL with you

    Your PAL can be the same gender, another gender or even a couple

    You are responsible for your PALs behavior and they are responsible for yours!

    If either of you break any of the rules you will both be held responsible

    You must arrive together and leave together

PAL system F.A.Q.
(Find the most up-to-date FAQ’s here: http://www.kinkysalon.com/pal/fasqs/)

 

I am a single guy. Can my PAL be another single guy?

YES! As long as you agree to keep an eye on each other, your PAL can be any gender.

We are a couple and we have a single friend- can we bring them with us?

YES! Please do! But don’t disappear and leave them on their own all night. You will be held responsible for their behavior.

I am a single girl. Do I really need to bring a PAL?

YES! Your PAL can be any gender or a couple.

I am a single guy. Am I welcome?

YES! As long as you are respectful, you have read and understand the Agreements, you have a PAL with you, and you are dressed to the theme, you are welcome.

I am a genderqueer/non-binary-gender person. Am I welcome?

YES! People of all genders are welcome at Kinky Salon

Can I make last minute plans, call my friend who is already there, and get them to meet me at the door and be my PAL?

YES! As long as they can meet you at the door when you arrive

If I arrive 15 minutes before my PAL can I hang out at the party till they arrive?

YES! But we will ask you to stay in the lobby so that you are there when they arrive to check in.

Can I come with a group of three or more single PALs?

YES! As long as you all arrive together and all agree to keep an eye on each other.

 Should we leave together?

YES! You don’t want to be held responsible for someone else’s late night shenanigans!

I have been coming to Kinky Salon for years. Can I come without a PAL?

NO! You will need to come with someone.

What happens if my PAL misbehaves?

First we will talk to them, and then we will find you and talk to you. If it is serious then they will be banned and you will get a warning.

Will I get kicked out if my PAL misbehaves?

NO! You will just get a warning, and given the opportunity to select your PAL more carefully in the future.

Can I find a PAL on craigslist (or some other online network), and use them to get into the event?

NO! You should know and trust your PAL. It’s okay to come with someone you met online, but get to know them first.

http://www.kinkysalon.com/companion/2015/06/23/the-pal-system/

{{> page_footer }}
